fastapi
uvicorn[standard]
python-multipart
pymongo
beanie
fastembed
langchain
langchain-classic
langchain-openai
python-dotenv
pydantic
pytest
requests
langchain-community
langchain-huggingface
langchain-mongodb
langchain-core
langsmith
voyageai
docx2txt
pypdf
langchain-text-splitters
tf-keras
